*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text: #434455;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white);
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
